# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = china_canton_railway.settings

[deploy:china_canton_railway]
url = http://120.77.159.174:6800/
project = china_canton_railway
